.nobuttons{
  display:flex;
  justify-content: space-between;
}
.nobutton{
  font-size:20px;
  width:25%;
  /*margin-left:5px;*/
  margin-top:2px;
  margin-left:2px;
}
.nobutton2{
  font-size:20px;
  width:50%;
  /*margin-left:5px;*/
  margin-top:2px;
  margin-left:2px;

}
.nobuttons:last-child{
  margin-right:2px;
}
.MathKekka{
  display:block;
  padding-right: 5px;
  padding-left: 5px;
  background-color:#000;
  color:#fff;
}
.ContentWidth{
/*  display:flex;*/
  text-align:right;
  width:250px;
}